# treasury user password VKqmGVFT6LgsJRLrMEc9kVuBK5rZCg4U
POSTGRES_ADDR=localhost
POSTGRES_PORT=5432
POSTGRES_USER=bankers_user
POSTGRES_PASSWORD=bankers_postgres_password
POSTGRES_DB=bankers_db

POSTGRES_CONTAINER=bankers_docker_postgres
POSTGRES_VERSION=18.6
DOCKER_POSTGRES_VOLUME=bankers_pg_data

DB_CONNECTION_STRING=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_ADDR}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

POSTGRES_TEST_PORT=5433
POSTGRES_TEST_DB=bankers_db_tests
TEST_DB_CONNECTION_STRING=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_ADDR}:${POSTGRES_TEST_PORT}/${POSTGRES_TEST_DB}?sslmode=disable

JWT_SECRET='JWTSECRET'
